/* cass for cards and mywork.css page */

  /* Add some padding inside the card container */

  .card-container {
    padding: 100px;
    /* margin-top: 7rem; */
    /* background-color: blue; */
  }

  .allcard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    column-gap: 15px;
    row-gap: 15px;
    /* /* justify-content: flex-start; */
   
  }
 
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding:10px;
    column-gap: 15px;
    display: flex;
    align-items: center;
    
  }
    /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    width: auto;
    height:650px;
    /* padding: 10px; */
    /* border: 10px ridge white; */
  }
  .card img{
    flex: 1;
    max-width: 100%;
  }

  p, h4{
    color:grey;
  }

  .card div {
    flex:1;
    margin-left: 20px;
  }
  button {
    background-color:#ace195; /* Green */
    border: none;
    border-radius: 10px;
    /* color: white; */
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }
  button:hover{
    background-color: #f5f6f7;
    border-radius: 10px;
  }
 
  .card div a{
      text-decoration: none;
  }

@media (max-width: 800px) {
  /* Apply basic styles to the container and inner divs */
.card-container {
  /* Add any container-specific styles here */
  text-align: left;
  padding: 5px;
}

/* Style for the individual cards */
.card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  /* text-align: center; Center text horizontally */
}

/* Style for the images within the cards */
.card img {
  /* Add any image-specific styles here */
  max-width: 100%; /* Ensure images don't exceed their container width */
  height: fit-content;
}

/* Style for the text within the cards */
.card div {
  /* Add any text-specific styles here */
  margin-top: 10px; /* Add space between image and text */
}

/* Style for the "See More" buttons */
button {
  background-color:#ace195; /* Green */
  border: none;
  border-radius: 10px;
  /* color: white; */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover{
  background-color: #f5f6f7;
  border-radius: 10px;
}


}